@media screen and (max-width: 991px) {
   .header {
      justify-content: space-around;
   }
   .promo {
      &__wrapper {
         align-items:center;
      }
      &__link {
         margin-top: 35px;
      }  
   }
   .second {
      &__text {
         width: 90%;
      }
   }  
   .consultation {
      .title_left {
         font-size: 30px;
         margin-left: 2%;
      }
      &__descr {
         font-size: 17px;
         margin-left: 2%;
      }
      .feed-form {
         width: 41%;
         margin-left: 2%;
      }
   } 
   .carousel {
      &__inner {
         img {
            width: 75%;
            margin: 0 auto;
         }
      } 
      .slick-dots {
         display: flex;
         justify-content: center;
         list-style: none;
         padding: 0;
         li {
            margin-left: 1%;
            button {
               height: 23px;
               border-radius: 15px;
               background-color: #ded8d8;;
            }
         }
      }
   }
   .catalog {
      &__tabs {
         li {
            width: 200px;
            margin: 0 3px;
         }     
      }
      &-item__content {
         justify-content: space-evenly;
      }
      &-item__subtitle {
         font-size: 15px;
      }
      &-item__descr {
         width: 90%;
         font-size: 13px;
      }
      &-item__list {
         li {
            font-size: 13px;
         }
      }
      &-item__old-prices {
         font-size: 12px;
      }
      &-item__new-prices {
         font-size: 16px;
      }
      .button_mini {
         width: 50%;
      }
   }
   .footer {
      &__info {
         width: 50%;
         height: 42%;
      }
      &__addr {
         font-size: 18px;
      }
      &__phone {
         font-size: 18px;
      }
   }
   .overlay {
      .modal {
         width: 30%;
      }
   }
   .feed-form {
      width: 100%;
   }
}
@media screen and (max-width: 767px) {
   .header {
     flex-direction: column;
     align-items:center;
     &__official {
      margin-top: 3%;
     }
     &__contact {
      margin-top: 3%;
     }
   }
   .promo {
      &__wrapper {
         align-items:center;
      }
      &__link {
         margin-top: 35px;
      }  
   }
   .second {
      &__icons {
         h2 {
            font-size: 15px;
         }
      }
      &__text {
         width: 87%;
         font-size: 12px;
      }
   }
   .consultation {
      .title_left {
         font-size: 24px;
      }
      #consultation-form {
         width: 75%;
      }
      .feed-form {
         width: 100%;   
      }
   } 
   .catalog {
      &__tabs {
         li {
            width: 30%;
         }
      }
      &-item {
         width: 100%;
      }
      .button_mini {
         width: 20%;
      }
   }
   .footer {
      &__info {
         width: 60%;
      }
      &__addr {
         font-size: 15px;
      }
      &__phone {
         font-size: 15px;
      }
      &__social-item {
         margin-right: 3%;
         img {
            height: 50%;
         }
      }
   }
   .overlay {
      .modal {
         width: 40%;
      }
   }
}
@media screen and (max-width: 575px){
   .header {
      flex-direction: column;
      align-items:center;
      &__official {
         font-size: 14px;
         margin-top: 2%;
      }
      &__phone {
         margin-bottom: 4%;
      }
      &__contact {
         margin-top: 5%;
         margin-bottom: 4%;
      }
   }
   .promo {
      &__header {
         font-size: 24px;
         line-height: 0;
      }
      &__subheader {
         font-size: 14px;
         line-height: 24px;
      }
      &__icons {
         width: 100%;
         justify-content: space-evenly;
         align-items:center;
      }
      &__link {
         font-size: 14px;
      }
      .button_main {
         width: 60%;
         font-size: 12px;
         height: 45px;
      }
   }
   .second {
      &__wrapper {
         flex-direction: column;
      }
      &__icons {
         margin-top: 5%;
      }
      .title {
         font-size: 24px;
      }
   }
   .consultation {
      .title_left {
         font-size: 18px;
         text-align: center;
      }
      &__descr {
         font-size: 15px;
         text-align: center;
      }
      .feed-form {
         width: 77%;
         margin: 0 auto;
         margin-top: 30px;
         .button_submit {
            font-size: 14px;
         }
      }
   } 
   .catalog {
      &__tabs {
         flex-direction: column;
         li {
            width: 70%;
            margin-bottom: 2%;
         }
      }
      .button_mini {
         width: 35%;
      }
   }
  .reviews {
      &__wrapper{
      flex-direction: column;
      align-items:center;
   }
      &__descr {
         h2 {
            text-align: center;
         }
         margin: 0 auto;
         width: 95%;
         line-height: 22px;
         font-size: 14px;
      }
   .title {
      font-size: 28px ;
   }
  }
  .footer {
   &__info {
      height: 15%;
   }
   &__addr {
      font-size: 14px;
      margin-bottom: 20px;
   }
   &__phone {
      margin-bottom: 20px;
   }
   &__social-item {
      width: 35px;
      height: 35px;
   }
  }
  .overlay {
   .modal {
      padding: 20px 20px;
      min-height: 300px;
      width: 65%;
      &__subtitle {
         font-size: 12px;
      }
      &__descr {
         font-size: 12px;
      }
      &__close {
         right: -20px;
      }
      .feed-form_mt25 {
         width: 100%;
         align-items:center;
         input {
            width: 75%;
         }
         .button_submit {
            width: 90%;
            font-size: 12px;
         }
      }
     }
  }
  
  .pageup {
   right: 10px;
  }
}
   
   